.user {
    display: flex;
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    height: 40px;
}

.countryAndCity {
    position: absolute;
    right: 10px;
}

button {
    margin-right: 20px;
}

.showUser {
    background-color: rgb(146, 230, 146);
    height: 40px;
}

.photoSmall {
    border: 1px solid black;
    background-color: green;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.photoSmall img {
    height: 40px;
    width: 40px;
}

.pagination {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.selectedCurrentPage {
    font-weight: bold;
    font-size: 12pt;
    color: red;
}
