.dialogs {
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.itemDialog {
    text-decoration: none;
}

.activeDialog {
    color: black;
}

.messages {
    color: green;
}

.inputAndButton {
    position: absolute;
    bottom: 10px;
}