.navigation {
    grid-area: n;
    background-color: cadetblue;
}

.navigation a {
    text-decoration: none;
}

.item .activeLink {
    color: gold;
    font-weight: 800;
}

.avatars {
    display: flex;
    justify-content: space-between;
}