.header {
    grid-area: h;
    background-color: currentColor;
    opacity: 1;
    display: flex;
    padding-left: 10px;
}

.header img {
    width: 60px;
    height: 60px;
}

.header div {
    padding-left: 10px;
}

.header span {
    width: 60px;
    height: 60px;
    color: white;
    font-size: 10pt;
}

.headerSize {
    font-size: 25pt;
}