.dialogs {
    background-color: tomato;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.itemDialog {
    text-decoration: none;
}

.activeDialog {
    color: black;
}

.messages {
    color: green;
}

.newMessage {
    margin-bottom: 25px;
}

.container {
    display: flex;
}