.post {
    background-color: thistle;
    margin-top: 10px;
    position: relative;
}

.postText {
    color: black;
    font-size: 12pt;
}

.number {
    font-size: 12pt;
    color: white;
    padding-right: 5px;
}

.post button{
    background-color: unset;
    border: unset;
    font-size: 16pt;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.post div{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
}