.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "h h" "n c";
    width: 1200px;
    margin: 0 auto;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-wrapper__mainContent {
    padding: 20px;
    position: relative;
}